@using testtProject1.Models
@model Moviee

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB</title>
    <!--Vendor Css File-->
    <link rel="stylesheet" href="../content/css/vendor/all.min.css">
    <link rel="stylesheet" href="../content/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="../content/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="../content/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" href="../content/assets/font awesome/fontawesome-free-5.15.3-web/css/all.min.css">
    <!-- Main Css File-->
    <link rel="stylesheet" href="../content/css/style_ltr.css">
</head>
<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="IMDB.html">IMDB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Link</a>
                    </li>
                </ul>
                <div class="input-group me-3 nav_search">
                    <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
                </div>
                <form class="d-flex">
                    <button class="btn btn-outline-primary me-2" type="button" id="button-addon2"><a href="@Url.Action("logIn","Home")" style="text-decoration: none;"> Sign In </a></button>
                    <select class="form-select form-select-sm me-2 bg-dark text-secondary nav_lg" aria-label=".form-select-sm example">
                        <option selected>en</option>
                        <option value="1">Arabic</option>
                    </select>
                </form>
            </div>
        </div>
    </nav>
    <main>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="../content/assests/imgs/cover/cover1.jpg" class="d-block w-100" style="height: 50%;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../content/assests/imgs/cover/cover2.jpg" class="d-block w-100">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="../content/assests/imgs/cover/cover3.jpg" class="d-block w-100">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the third slide.</p>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="best-movies">
            <div class="container">
                <div class="best-movies__header">
                    <h3>What to whatch</h3>
                    <h4>Top Picks </h4>
                    <p>TV shows and movies just for you</p>
                </div>

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="@Model.image"  class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">@Model.Name</h5>
                                <p class="card-text">@Model.discription</p>
                                <a href="@Url.Action("movie_profile" ,"Home")"><i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/breaking-bad.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Breaking Bad</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/Fast-Furious-9.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Feurus 9</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/extraction.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Extraction</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/la-casa.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">La casa de papel</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/MR.Robot.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">MR.Robot</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/norse men.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Norse Men</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/prison-break.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Prison Preak</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/the-punisher.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">The Punisher</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/shutter-island.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Shutter Island</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/the old gard.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Peaky Blinders</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/the-silence of the marsh.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">TSOTM</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="best-movies">
            <div class="container">
                <div class="best-movies__header" style="margin-top: 10%;">
                    <h4>Fan favorites </h4>
                    <p>This week's top TV and movies</p>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/norse men.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Norse Men</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/prison-break.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Prison Preak</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/the-punisher.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">The Punisher</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/shutter-island.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Shutter Island</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/the old gard.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Peaky Blinders</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/the-silence of the marsh.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">TSOTM</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/Peaky-Blinders.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Peaky Blinders</h5>
                                <p class="card-text">The Peaky Blinders is the most powerful gang in England, and one of the most powerful gangs in the world</p>

                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="..\Content/assests/imgs/breaking-bad.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Breaking Bad</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/Fast-Furious-9.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Feurus 9</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/extraction.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">Extraction</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/la-casa.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">La casa de papel</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card" style="width: 13rem;">
                            <img src="../content/assests/imgs/MR.Robot.jpg" class="card-img-top" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title" style="color: #7fffd4;">MR.Robot</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#"> <i class="fa fa-play" style="color: #7fffd4;"></i>&nbsp; Trailer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid footer">
            <div class="col-md-12 footer__logo"><img src="../content/assests/imgs/logo1.png" alt="" srcset=""></div>
            <div class="col-md-12 footer__word">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facere commodi adipisci est sint sequi itaque quas a possimus doloribus!</div>
            <div class="col-md-12 footer__icons">
                <a href="">
                    <!-- Facebook -->
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="">
                    <!-- Twitter -->
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="">
                    <!-- Google -->
                    <i class="fab fa-google"></i>
                </a>
                <a href="">
                    <!-- Instagram -->
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <!-- Linkedin -->
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <div class="col-md-12 footer__copyright" style="border-top: 1px solid #222222;">
                <p style="margin: 0px;">© Copyright IMDB. All Rights Reserved </p>
            </div>
    </footer>
    <!-- Vendor JS Files -->
    <script src="../content/js/vendor/all.min.js"></script>
    <script src="../content/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="../content/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../content/js/vendor/owl.carousel.min.js"></script>
    <script src="../content/assets/font awesome/fontawesome-free-5.15.3-web/js/all.min.js"></script>
    <!--Main js Fiels-->
    <script src="../content/js/owl.js"></script>
</body>
</html>